<div class="type">
	{# {% if iterationCount == 1 %}

		<svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewbox="0 0 28 26" fill="none">
			<path d="M22.5962 0.0507812H5.40543L0 7.42178L14.0581 25.9502L28.0001 7.41965L22.5962 0.0507812ZM7.6853 8.23157L11.646 20.0643L2.66814 8.23157H7.6853ZM9.41074 8.23157H18.5957L14.0347 22.046L9.41074 8.23157ZM20.3188 8.23157H25.3417L16.3911 20.1279L20.3188 8.23157ZM21.7669 1.68694L25.3665 6.59541H20.3199L18.7093 1.68694H21.7669ZM16.9873 1.68694L18.5979 6.59541H9.40365L11.0142 1.68694H16.9873ZM6.23452 1.68694H9.29217L7.6816 6.59541H2.63498L6.23452 1.68694Z" fill="white"/>
		</svg>
	{% else %}
		<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewbox="0 0 26 26" fill="none">
			<path d="M8.33301 10.8618L13.1434 6.05134C14.4558 4.73899 15.112 4.08282 15.8361 3.55432C17.3219 2.46997 19.0451 1.75617 20.8625 1.47232C21.7482 1.33398 22.6762 1.33398 24.5321 1.33398C24.6291 1.33398 24.6663 1.37845 24.6663 1.4682C24.6663 3.32413 24.6663 4.25211 24.528 5.13785C24.2442 6.9552 23.5304 8.67847 22.446 10.1642C21.9175 10.8884 21.2613 11.5445 19.949 12.8569L15.1386 17.6673" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M11.0641 8.44876C9.07743 8.44876 6.58041 8.02791 4.72136 8.79795C3.35917 9.36219 2.35681 10.6687 1.33301 11.6925L5.18997 13.3455C6.2121 13.7835 5.58726 15.0734 5.41805 15.9195C5.2295 16.8622 5.24002 16.897 5.91985 17.5768L8.42352 20.0805C9.10336 20.7603 9.1381 20.7708 10.0809 20.5823C10.9269 20.4131 12.2168 19.7882 12.6549 20.8104L14.3078 24.6673C15.3316 23.6435 16.6381 22.6412 17.2024 21.279C17.9724 19.4199 17.5516 16.9229 17.5516 14.9362" stroke="#0D0D0D" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M20.9542 6.10641C21.2471 5.81352 21.2471 5.33865 20.9542 5.04575C20.6614 4.75286 20.1865 4.75286 19.8936 5.04575L20.9542 6.10641ZM17.7193 7.22C17.4265 7.51289 17.4265 7.98776 17.7193 8.28066C18.0122 8.57355 18.4871 8.57355 18.78 8.28066L17.7193 7.22ZM20.4239 5.57608L19.8936 5.04575L17.7193 7.22L18.2497 7.75033L18.78 8.28066L20.9542 6.10641L20.4239 5.57608ZM15.333 3.66699L15.3108 4.41666C17.416 4.47911 18.9303 5.11649 19.9343 6.14545C20.9411 7.17732 21.5242 8.69452 21.5833 10.6892L22.333 10.667L23.0827 10.6448C23.0157 8.38531 22.3459 6.46916 21.0079 5.09789C19.667 3.72372 17.7444 2.98819 15.3552 2.91732L15.333 3.66699Z" fill="#0D0D0D"/>
			<path d="M12.9997 22.334L11.833 23.5007" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M3.66667 13L2.5 14.1667" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% endif %} #}
	<div class="type-wrap">
		{{ package|striptags('<br>')|raw }}
	</div>
</div>
