.hero-section {
  background: var(--bg-body);
  color: var(--color-white);
  background-image: url("../../images/hero_bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: calc(70px + $header-gap);
  padding-bottom: 0px;

  @include mobile {
    // background-image: url("../../images/hero_bg_mobile.webp");
    background: radial-gradient(53.14% 39.25% at 113.61% 60.86%, #821D35 0%, rgba(241, 40, 68, 0.00) 100%), radial-gradient(74.41% 45.39% at 100% 100%, #1F5C8C 0%, rgba(77, 163, 236, 0.00) 100%), radial-gradient(56.42% 96.03% at 161.2% -8.73%, #E82021 0%, #FA5909 50.5%, rgba(255, 154, 104, 0.00) 100%), radial-gradient(46.18% 53.07% at 82.56% -5.46%, #FAD309 0%, rgba(250, 211, 9, 0.00) 100%), radial-gradient(97.8% 60.52% at 99.15% 111.69%, #4DA3EC 0%, rgba(77, 163, 236, 0.00) 100%), #FFF;
    padding-top: 136px;
    // margin-top: $header-gap;
  }

  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 35px;

    @include desktop-small {
      flex-direction: column;
      gap: 24px;
    }

    .text-contents {
      // max-width: 728px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      // margin-top: 86px;
      // margin-bottom: 142px;

      @include desktop-small {
        max-width: 100%;
        align-items: center;
        margin-top: 0;
      }

      .hero-title {
        font-family: var(--secondary-font);
        font-size: 72px;
        font-style: normal;
        font-weight: 600;
        line-height: 90px;
        /* 125% */
        letter-spacing: -1.44px;
        color: var(--color-text-dark);


        max-width: 650px;
        width: 100%;

        span {
          position: relative;

          &::after {
            position: absolute;
            height: 25px;
            width: 100%;
            content: "";
            background-image: url("../../images/hero/span.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            bottom: -15px;
            left: 0;

            @include desktop-small {
              display: none;
            }

          }
        }


        @include desktop-small {
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: -0.96px;
          text-align: center;
          max-width: 100%;
        }



        // @include tablet {
        //   max-width: 343px;
        // }
      }

      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        // margin-bottom: 10px;
        margin-top: 24px;
        max-width: 579px;
        color: var(--color-text-light);

        @include desktop-small {
          max-width: 100%;
          text-align: center
        }
      }
    }

    .image-contents {
      max-width: 678px;
      width: 100%;
      position: relative;
      left: -40px;

      @include desktop-small {
        left: 0;
      }

      .hero-img {
        width: 100%;
        display: block;
      }

      .left_bottom_wrapper {

        position: absolute;
        bottom: 70px;
        left: -40px;

        @include desktop-small {
          display: none;
        }

        .left_bottom {
          border-radius: 20px 0px 20px 20px;

          position: relative;
          padding: 16px;
          background-color: rgba(255, 255, 255, 0.30);
          z-index: 1;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;



          &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: 2px;
            border-radius: 20px 0px 20px 20px;
            background: linear-gradient(77deg, rgba(251, 77, 23, 0.60) 10.39%, rgba(50, 223, 255, 0.60) 94.28%, rgba(125, 239, 255, 0.60) 138.26%);
            -webkit-mask:
              linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            pointer-events: none;
            z-index: -1;
          }

          h2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            color: var(--color-text-dark);
          }

          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            text-align: center;
            color: var(--color-text-dark);

            &:last-child {
              margin-top: 8px
            }
          }
        }

      }

      .left_bottom_right {
        background-image: url("../../images/hero/hero_buttom_bg.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 16px 0 23.5px;
        max-width: 178px;
        width: 100%;

        position: absolute;
        bottom: 7%;
        left: 52%;

        z-index: 2;

        @include desktop-small {
          display: none;
        }

        .bottom_top {
          display: flex;
          gap: 8px;
          align-items: center;
          padding-left: 16px;

          // svg {
          //   border-radius: 4px;
          //   background: rgba(255, 255, 255, 0.20);
          //   padding: 4px;
          // }

          p {
            color: var(--color-white);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 8px;
          }
        }
      }


      .floating {
        position: absolute;
        // width: 170px;
        /* Adjust size as needed */
        height: auto;
        z-index: 1;

      }

      .cash {
        top: 5%;
        left: 32%;

        @include mobile {
          top: 0;
          left: 0;
        }
      }

      .bitcoin {
        top: 18%;
        right: 3%;

        @include mobile {
          top: 2%;
          right: 3%;
        }
      }

      .dollar {
        top: 51%;
        right: 1%;
        transform: translateY(-50%);
        
        @include mobile {
          top: 57%;
          right: 11%;
        }
      }

      .arrow {
        bottom: 29%;
        right: 19%;
        transform: rotate(10deg);
        max-width: 150px;
        width: 100%;

        @include desktop-small {
          display: none;
        }
      }
    }
  }
}

@keyframes pulseEffect {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 150, 81, 0.2);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(239, 150, 81, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(239, 150, 81, 0);
  }
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}